<footer class="footer is-small">
        <div class="content has-text-centered">
          <p>
            <strong>Developed</strong> by <a href="https://icreate.steinacoz.com">Steinacoz Platform (08139059856)</a>. Copyright © 2018
          </p>
        </div>
      </footer>