<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="media/images/favicon(2).ico">
    <title>Etronics</title>
    <link href="css/bulma.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rakkas">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <style>
      .front {
        background-image: url("media/1c.jpg");
        color: red;
      }
    </style>
</head>
  <body>
    <section class="hero is-fullheight front">

        <div class="hero-head">
          <nav class="navbar is-transparent">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                 <!-- <img src="media/images/Etronical.jpg" width="112" height="28" alt="Logo">-->
                  <h3 class="subtitle has-text-white">Etronics</h3>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item is-active has-text-white" href="#">
                    Home
                  </a>
                  <a class="navbar-item has-text-white" href="etronics/about.html">
                    About Us
                  </a>
                  <a class="navbar-item has-text-white" href="etronics/contact.html">
                      Contact Us
                  </a>
                  <span class="navbar-item">
                    <a class="button is-info is-inverted is-outlined" href="etronics/tech_emerge.php">
                      <span class="icon">
                        <i class="fas fa-brain"></i>
                      </span>
                      <span>Tech Emerge Series</span>
                    </a>
                  </span>
                </div>
      
                  <div class="navbar-end">
                      <a class="navbar-item is-active has-text-link" href="#">
                          <span class="icon">
                        <i class="fab fa-facebook-f"></i>
                      </span>
                      </a>
                      <a class="navbar-item has-text-link" href="etronics/about.html">
                          <span class="icon">
                        <i class="fab fa-facebook-messenger"></i>
                      </span>
                      </a>
                      <a class="navbar-item has-text-info" href="etronics/contact.html">
                          <span class="icon">
                        <i class="fab fa-twitter"></i>
                      </span>
                      </a>
                      <a class="navbar-item has-text-danger" href="etronics/contact.html">
                          <span class="icon">
                        <i class="fab fa-instagram"></i>
                      </span>
                      </a>
      
                      <a class="navbar-item has-text-success" href="etronics/contact.html">
                          <span class="icon">
                        <i class="fab fa-whatsapp"></i>
                      </span>
                      </a>
      
                  </div>
      
              </div>
            </div>
          </nav>
        </div>
      
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title has-text-white is-1 animated pulse">
              ETRONICAL 
            </p>
            <p class="subtitle is-1 has-text-white animated jello">
            Solving Engineering to Make Life easier
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li class="animated fadeInLeft">
                  <a href="pages/products.php" class="has-text-white subtitle is-4 is-info is-outlined button ">Products & Services</a>
                </li>
                <li class="animated bounceInRight">
                  <a href="pages/repairs.php" class="subtitle is-5 button has-text-white is-danger is-outlined ">Repairs & Installation</a>
                </li>
                <li class="animated fadeInRightBig">
                  <a href="pages/career.php" class="has-text-white subtitle is-3 is-primary is-outlined button ">Career</a>
                </li>
                <li class="animated fadeInDownBig">
                  <a href="pages/consultancy.php" class="has-text-white subtitle is-5 is-info is-outlined is-inverted button ">Consultancy </a>
                </li>
                <li class="animated fadeInUpBig">
                  <a href="pages/procurement.php" class="has-text-white subtitle is-3 is-success is-outlined button ">Procurement</a>
                </li>
                <li class="animated fadeInRightBig">
                  <a href="pages/manufacturing.php" class="has-text-white subtitle is-5 is-info is-outlined is-inverted button ">Manufacturing</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
       
      </section>
  </body>
</html>